{% extends 'currency/layout.html' %}

{% block body %}

<form action={% url 'index' %} class="col-4" method="post">
    {% csrf_token %}
    <div class="row">

        <label for="Amount" class="col-12"><b>Amount</b></label><br>

        <div class="col-2"></div>
        <input  class="col-8" type="text" id="Amount" name="amount"><br><br>
        <div class="col-2"></div>

        <label for="from" class="col-12"><b>From</b></label><br>

        <div class="col-2"></div> 
        <select class="col-8" name="from">
            {% for option in options%}
                <option value="{{option|safe}}">{{option|safe}}</option>
            {% endfor %}
        </select><br><br>
        <div class="col-2"></div>

        <label for="to" class="col-12"><b>To</b></label><br>

        <div class="col-2"></div>

        <select class="col-8" name="to">
            {% for option in options%}
                <option value="{{option|safe}}">{{option|safe}}</option>
            {% endfor %}
        </select><br><br>

        <div class="col-2"></div>

        <div class="col-5"></div>
        <input class="btn btn-dark" id="convert" type="submit" value="Convert">
        <div class="col-5"></div>

    </div>
</form>

{% endblock body %}